<br><br><h3><b><u>Post Your Answer</u></b></h3><br>
<%= simple_form_for [@question, @answer], remote: true do |form| %>
  <p>
    <%= form.cktext_area :description, required: :true %>
  </p>
  <p>
    <%= form.submit "Post Your Answer", :class => "btn btn-success" %>
  </p>
<% end %><br><br>
<%= button_to "Back", questions_path, :class => "btn btn-info" %>
