<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <center>
      <br>
      <h1><u>All Questions :-</u></h1><br>
      <%= link_to '<button class="btn btn-primary" type="button">Ask Question</button>'.html_safe, new_question_path %>
      <br><br>
      <h3>Total <%= @questions.count %> Questions</h3>
      <br><br><hr>
    </center>

    <% @questions.each do |question| %>
      <h3><%= link_to question.title, question_path(question) %></h3>
      <td><%= question.description %></td>
      <hr>
    <% end %>
    <br><br>
  </body>
</html>
