<html>
  <head>
  </head>
  <body>
    <p class="welcome_title">Welcome to stackoverflow.com, <b><%= @questioner %></b></p>
    <p><b><%= @answerer %></b> answered your question on stackoverflow.com</p>
    <p>To check the answer, click here :  <a href="<%= @url %>">stackoverflow.com</a></p>
    <p>Thank you.</p>
  </body>
</html>