<%= image_tag("Screenshot from 2019-10-25 12-35-36.png") %>
<br><br>
<center>
    <%= link_to '<button class="btn btn-primary" type="button">Browse Questions</button>'.html_safe, questions_path %>
</center>
